/* Layout
  =============== */

header h1 {
  font-size: 4rem;
}

.pollen-box {
  background-color: $panel-color;
  box-shadow: 0 8px 6px -6px black;
  border: 1px solid #ccc;
  margin-top: 2rem;
}

.location-inputs {
  justify-content: center;
}

#postcode {
  max-width: 50%;
}
